In [1]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv("./dataset.csv")

In [9]:
df.head(5)

                period  count
0  1998-04-30 21:30:00      2
1  1998-04-30 21:31:00     11
2  1998-04-30 21:32:00     16
3  1998-04-30 21:33:00      7
4  1998-04-30 21:34:00      3

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125300 entries, 0 to 125299
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   period  125300 non-null  object
 1   count   125300 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.9+ MB

In [6]:
df.set_index('period', inplace=True)
df.head()

                     count
period
1998-04-30 21:30:00      2
1998-04-30 21:31:00     11
1998-04-30 21:32:00     16
1998-04-30 21:33:00      7
1998-04-30 21:34:00      3

In [11]:
df.reset_index()['count']

0           2
1          11
2          16
3           7
4           3
         ...
125295    777
125296    764
125297    821
125298    547
125299    679
Name: count, Length: 125300, dtype: int64